%meta{:content => "Nani's Dough - Best Doughnuts in Delray Beach", :name => "description"}/
%meta{:content => "Nani Edry", :name => "author"}/
%meta{:content => "doughnuts,donuts,dough,nani,delray,fl,florida", :name => "keywords"}/
%meta{:content => "Delray Beach, Fl", :name => "Geography"}/
%meta{:content => "English", :name => "Language"}/
/ Social: Twitter
%meta{:content => "Nani's Dough", :name => "twitter:card"}/
%meta{:content => "@nanis_dough", :name => "twitter:site"}/
%meta{:content => "Nani's Dough", :name => "twitter:title"}/
%meta{:content => "Nani's Dough - Best Doughnuts in Delray Beach", :name => "twitter:description"}/
%meta{:content => "http://www.nanisdough.com/images/logo_shareable.jpg", :name => "twitter:image:src"}/
/ Social: Facebook / Open Graph
%meta{:content => "", :property => "fb:app_id"}/
%meta{:content => "http://www.nanisdough.com", :property => "og:url"}/
%meta{:content => "article", :property => "og:type"}/
%meta{:content => "Nani's Dough", :property => "og:title"}/
%meta{:content => "http://www.nanisdough.com/images/logo_shareable.jpg", :property => "og:image"}/
%meta{:content => "Nani's Dough - Best Doughnuts in Delray Beach", :property => "og:description"}/
%meta{:content => "Nani's Dough", :property => "og:site_name"}/
%meta{:content => "https://www.facebook.com/Nanis-1496806157314602", :property => "article:author"}/