.about {
  position: absolute;
  top: 80px;
  z-index: 0;
  width: 100%;
  min-height: 75%;

  padding-bottom: 8em;

  &__store {
    width: 100%;
  }

  &__founder {
    &_img {
      width: 100%;
    }

    p {
      margin-top: 1em;
    }
  }
  &__shop {
    p {
      margin-top: 1em;
    }
  }
  @include respondTo(desktop) {
    top: 80px;
  }
}