/* Colors */
$light_blue: #0E4EAD;
$dark_blue: #0C0F66;
$neutral_white: #F2F2F2;
$text_gray: #323232;

$nani_red: #E45A88;
$dark_red: #F20056;

/* Social */
$fb: #3b5998;
$instagram: #125688;
$twitter: #55acee;