.contact {
  position: absolute;
  z-index: 0;
  width: 100%;
  min-height: 75%;
  padding-bottom: 8em;

  &__catering {
    padding: 8em 0 2em 0;
    background-color: $neutral_white;
    margin-bottom: 1em;
  }

  &__success {
    display: none;
    
    .fa {
      font-size: 4em;
      color: $nani_red;
    }
  }

  &__failure {
    @extend .contact__success;
  }
}