.image-slider {
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 76%;

  @include respondTo(desktop) {
    top: 0;
    height: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    filter: grayscale(5%);
    display: none;

    &_1 {
      display: block;
      background-image: image_url('slider/desktop/slider_1.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_1.jpg');
      }
    }

    &_2 {
      background-image: image_url('slider/desktop/slider_2.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_2.jpg');
      }
    }

    &_3 {
      background-image: image_url('slider/desktop/slider_3.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_3.jpg');
      }
    }

    &_4 {
      background-image: image_url('slider/desktop/slider_4.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_4.jpg');
      }
    }

    &_5 {
      background-image: image_url('slider/desktop/slider_5.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_5.jpg');
      }
    }

    &_6 {
      background-image: image_url('slider/desktop/slider_6.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_6.jpg');
      }
    }

    &_7 {
      background-image: image_url('slider/desktop/slider_7.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_7.jpg');
      }
    }

    &_8 {
      background-image: image_url('slider/desktop/slider_8.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_8.jpg');
      }
    }

    &_9 {
      background-image: image_url('slider/desktop/slider_9.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_9.jpg');
      }
    }

    &_10 {
      background-image: image_url('slider/desktop/slider_10.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_10.jpg');
      }
    }

    &_11 {
      background-image: image_url('slider/desktop/slider_11.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_11.jpg');
      }
    }

    &_12 {
      background-image: image_url('slider/desktop/slider_12.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_12.jpg');
      }
    }

    &_13 {
      background-image: image_url('slider/desktop/slider_13.jpg');

      @include respondTo(mobile) {
        background-image: image_url('slider/mobile/slider_13.jpg');
      }
    }

    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left:0;
      background: rgba(0,0,0,0.15);
    }
  }
}