.menu {
  position: absolute;
  top: 130px;
  z-index: -1;
  padding-bottom: 8em;
  width: 100%;

  @include respondTo(desktop) {
    top: 20px;
  }

  &__item {
    position: relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-bottom: 1.4em;

    &_img {
      width: 100%;
      height: 200px;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;

      @include respondTo(desktop) {
        height: 225px;
      }
    }

    &_name {
      background-color: $nani_red;
      padding: 0.1em 0;
      color: #FFF;
      font-family: handsean;
      font-size: 2em;
    }

    &_type {
      .col-xs-6 {
        &:first-child {
          padding-right: 0;
        }
        &:nth-child(2) {
          padding-left: 0;
        }
      }
      .regular, .filled {
        padding: 1em;

        &__drawn {
          width: 35px;
          height: 35px;
          border: 3px solid #000;
          border-radius: 50%;
          margin: 0 auto;

          .hole {
            width: 13px;
            height: 13px;
            border: 2px solid #000;
            border-radius: 50%;
            margin: 8px auto 0 auto;
          }
        }

        &__description {
          font-size: 0.8em;
          margin-top: 0.6em;
        }
      }

      .active {
        background-color: $neutral_white;
      }
    }

    &_description {
      font-family: oswald_regular;
      font-size: 1.1em;
      padding: 1em 1.6em;
      min-height: 5em;
    }
  }

}