%section.image-slider
  .image-slider__image.image-slider__image_1
  .image-slider__image.image-slider__image_2
  .image-slider__image.image-slider__image_3
  .image-slider__image.image-slider__image_4
  .image-slider__image.image-slider__image_5

:javascript
  rotateImages()