%section.about
  %img.about__store{src: image_path('about/about_1.JPG')}
  .container
    %h2
      IT ALL STARTED WITH SOME DOUGH IN DELRAY...
    %p
      = "... by selling doughnuts made from home with definitely not the ideal equipment. It began with wanting more in a 'donut' than whats offered dunkin donuts all around here. Just more fresh, seasonal ingredients, and legit dough ... and I mean legit. We wanted to go beyond just sugar and frosting."
    %p
      = "You should be asking ... is that huge thing really a DOUGHnut? ... all thats in a DOUGHnut?"
    %p
      = "... and we'll say, its either this or Dunkin, you pick."

    .about__founder
      %h3 Founder
      %img.about__founder_img{src: image_path('about/nani.jpg')}
      %p
        Nani, a local from Delray Beach, FL, drew up his first doughnut from his house and started it all with local deliveries.

    .about__shop
      %h3 Shop
      %img.about__founder_img{src: image_path('about/shop_1.JPG')}
      %img.about__founder_img{src: image_path('about/shop_2.JPG')}
      %img.about__founder_img{src: image_path('about/shop_3.JPG')}
      %p
        You can find our DOUGHnuts at
        %br
        %a{href: "https://www.google.com/maps/place/Riverwalk+Plaza,+Boynton+Beach,+FL+33435/@26.5137728,-80.0607759,17z/data=!4m13!1m7!3m6!1s0x88d8df1c01090139:0xa488350264d9eb58!2s1622+S+Federal+Hwy,+Boynton+Beach,+FL+33435!3b1!8m2!3d26.5135712!4d-80.0588501!3m4!1s0x88d8df1c200f4333:0x1e3e66c49bf1a4aa!8m2!3d26.5132954!4d-80.0573342", target: "_blank", rel: "nofollow"}
          1622 S. Federal Hwy
          %br
          Boynton Beach, FL 33435

    %br
    %a.btn{href: '/contact'}
      CONTACT US
