%section.about
  %img.about__store{src: image_path('about/about_1.JPG')}
  .container
    %h2
      IT ALL STARTED WITH SOME DOUGH IN DELRAY...
    %p
      = "... by selling doughnuts made from home with definitely not the ideal equipment. It began with wanting more in a 'donut' than whats offered dunkin donuts all around here. Just more fresh, seasonal ingredients, and legit dough ... and I mean legit. We wanted to go beyond just sugar and frosting."
    %p
      = "You should be asking ... is that huge thing really a DOUGHnut? ... all thats in a DOUGHnut?"
    %p
      = "... and we'll say, its either this or Dunkin, you pick."

    .about__founder
      %h3 Founder
      %img.about__founder_img{src: image_path('about/nani.jpg')}
      %p
        Nani, a local from Delray Beach, FL, drew up his first doughnut from his house and started it all with local deliveries.

    .about__shop
      %h3 Shop
      %img.about__founder_img{src: image_path('about/shop_1.JPG')}
      %img.about__founder_img{src: image_path('about/shop_2.JPG')}
      %img.about__founder_img{src: image_path('about/shop_3.JPG')}
      %p
        You can find our DOUGHnuts (starting June 2, 2017) at
        %br
        %a{href: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7143.065405221536!2d-80.09613836710564!3d26.47078788331992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d8dff39aea29e7%3A0xcec33bc06d855028!2s601+N+Congress+Ave%2C+Delray+Beach%2C+FL+33445!5e0!3m2!1sen!2sus!4v1495942675619", target: "_blank", rel: "nofollow"}
          601 N. Congress Ave
          %br
          Delray Beach, FL 33445

    %br
    %a.btn{href: '/contact'}
      CONTACT US
