%section.about
  .container
    %h2
      IT ALL STARTED WITH SOME DOUGH IN DELRAY...
    %p
      = "... by selling doughnuts made from home with definitely not the ideal equipment. It began with wanting more in a 'donut' than whats offered dunkin donuts all around here. Just more fresh, seasonal ingredients, and legit dough ... and I mean legit. We wanted to go beyond just sugar and frosting."
    %p
      = "You should be asking ... is that huge thing really a DOUGHnut? ... all thats in a DOUGHnut?"
    %p
      = "... and we'll say, its either this or Dunkin, you pick."

    %h3 Founder
    %h3 Shop

    %br
    %a.btn{href: '/contact'}
      CONTACT US