%section.location
  .location__address.text-center
    1622 S. Federal Hwy
    %br
    Boynton Beach, FL 33435
  .location__map
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyAtDtkhaUwwlGlhlU-TKdYYY_aJkebTSis\n    &q=Bond+and+Smolders,BoyntonBeach,Fl", :style => "border:0", :width => "100%"}