%section.menu
  .container
    - @doughnuts.each_with_index do |d, i|
      .col-md-4
        .menu__item
          .menu__item_img
          .menu__item_name.text-center
            = d.name
          .row.menu__item_type
            .col-xs-6
              .regular{class: "#{d.regular ? 'active' : ''}"}
                .regular__drawn
                  .hole
                .regular__description.text-center
                  Regular
            .col-xs-6
              .filled{class: "#{d.regular ? '' : 'active'}"}
                .filled__drawn
                .filled__description.text-center
                  Filled
          .row.menu__item_description.text-center
            = d.description

:javascript
  menuInit();